<div id="<%= dom_id subject %>">
  <p>
    <strong>Subject:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= link_to subject.teacher&.firstname, subject.teacher %>
  </p>

</div>
