<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="container d-flex justify-content-between align-items-center">
    <h1>Teachers</h1>
    <%= link_to "New teacher", new_teacher_path, class: "btn btn-outline-secondary" %>
  </div>
  <div id="teachers">
    <% @teachers.each do |teacher| %>
      <%= render teacher %>
      <p>
        <%= link_to "Show this teacher", teacher, class: "btn btn-outline-primary py-1" %>
      </p>
    <% end %>
  </div>

</div>
